.main{
    display: grid;
    grid-template-rows: repeat(auto 200px);
    align-items:flex-start;
    margin-bottom: 130px;
}
@media (max-width:800px) {
    .main {
        margin-bottom:10px;

    }
}