.app {
    margin: auto;
    width: 1100px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
        "header header"
        "main_win board"
        "footer footer";       
}
@media (max-width:800px) {
    .app{
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-areas:
        "header"
        "main_win"
        "board"
        "footer";
    }
    
}
.main_win{
    margin: 0;
    width: 770px;
    grid-area: main_win;
}
@media (max-width:800px) {
    .main_win{
        width: 100%;
    }
}
a{
    text-decoration: none;
}